*{
    font-size: large;
}
body{
    background-color: rgb(197, 197, 197);
}

.mainContainer{
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-top: 1em;
    align-items: center;
    }

#label{
    margin: 10px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

#imageContainer{
    display: flex;
    flex-direction: row;
}  

#imagePreview{
        display: flex;
        flex-direction: column;
        width: 200px;
        image-rendering: pixelated;
}

#jsonPreview p{
    margin-left: 1em;
    background-color: bisque;
    border: 1px black solid;
    font-size: 0.8em;
    padding: 0.5em;

}

#originalImage {
    width: 32px;
    height: 32px;
    visibility: hidden;
}

#colorOutput{
    font-size: 0.5em !important;
}

#downloadButton{
    padding: 1em;
    zoom: 1;
    transition: all 1s ease;
    animation: animatedBackground 2s linear infinite alternate;
    border: 1px solid grey;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(91, 91, 91);
    font-weight: 800;
    font-variant: small-caps;
    min-width: 80%;
    text-align: center;
}

@keyframes animatedBackground {
    from {background-color: rgb(180, 221, 67);}
    50%  {background-color: rgb(50, 195, 89);}
    to   {background-color: rgb(106, 239, 177);}
}

#downloadButton:hover{
    zoom: 1.2;
    background-color: rgb(137, 251, 106);
    animation-play-state: paused;
    
}

#jsonPreview{
    display: flex;
    flex-direction: column;
}

#info{
    position: absolute;
    top: 92vh;
    font-size: small;
}
